/* Business Card */
.card {
  background-color: #1de592;
  font-family: "Poppins", sans-serif;
  width: 360px;
  padding: 80px 35px 90px 35px;
  text-align: start;
  font-weight: bold;
  margin: 20px auto;
  border-radius: 10px;
}
.card-title {
  width: 100px;
  font-size: 30px;
  margin-bottom: 12px;
}
.card small {
  font-size: x-small;
}
.btn {
  background-color: white;
  color: black;
  border: none;
  margin-top: 20px;
  padding: 10px 32px;
  border-radius: 18px;
  font-weight: bold;
}

/* Profile Card */
.profile-card {
  font-family: "Poppins", sans-serif;
  border: 1px solid lightgray;
  width: 360px;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 12px;
  font-weight: lighter;
}
.profile-info {
  color: gray;
}
.user-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  padding: 10px 35px;
  margin-bottom: 35px;
}
.tab {
  border: 1px solid lightgray;
  margin: -10px -31px;
  /* box-sizing: border-box; */
  padding-left: 15px;
  border-radius: 0px 0px 12px 12px;
}
.see-profile {
  color: #1c73e8;
}

/* Subscription Card */
.subscription-card {
  width: 300px;
  border: 1px solid lightgrey;
  margin: 20px auto;
  font-family: "Poppins", sans-serif;
  border-radius: 12px;
  padding: 5px 30px;
}
.subscription-img {
  width: 360px;
  height: 200px;
  border-radius: 12px 12px 0px 0px;
  margin: -5px -30px;
}
.subscription {
  color: gray;
  font-size: smaller;
  margin-top: 30px;
}
.subscription:before {
  content: "\1F512";
  margin-right: 5px;
  color: lightgrey;
}
.heading {
  font-weight: lighter;
  padding: 5px 0px;
  padding-right: 100px;
}
.card-caption {
  color: gray;
  margin-top: -5px;
  line-height: 23px;
}
.view-details-btn {
  color: #1c73e8;
  background-color: white;
  border: 1px solid lightgray;
  padding: 10px 24px;
  margin: 15px 0px;
  border-radius: 5px;
}

/* Login Page */
.login-page {
  width: 360px;
  margin: 40px auto;
  text-align: center;
  border: none;
  font-family: "Work Sans", sans-serif;
}
.logo-image {
  height: 60px;
  width: 180px;
}
.title {
  font-size: 16px;
  font-weight: bold;
}
.input {
  width: 300px;
  padding: 15px 15px;
  margin: 6px auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: black;
}

.login-btn {
  color: white;
  background-color: black;
  border: none;
  border-radius: 24px;
  padding: 12px 35px;
  margin: 14px 0px;
}

.caption {
  color: #969696;
  font-size: small;
  display: block;
  margin: 18px 0px;
  line-height: 20px;
}
.sign-up {
  color: black;
}
.terms-and-conditions {
  color: #969696;
  font-size: smaller;
  padding: 10px 0px;
  display: block;
  margin: 30px 0px;
}
